body{
  font-family: 'Epilogue', sans-serif;
  background-color: #031111;
  padding: 30px;
}
h1{
  color: #ffffff;
  font-family: 'Epilogue', sans-serif;
  font-size: 4.2em;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0em;
  text-align: left;
  margin:0 auto;
  padding: 10px 0;
}
p{
  color: #6F8B8B;
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 auto;
  padding: 0;

}
a{
  color: #fff;
}
.center{
  margin: 0 auto;
  position: absolute;
  top: 55%;
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
}
.copy{
  position:absolute;
  bottom:4%;
  font-size: 0.8em;
}
.mylogo{
  background: url('assets/logo.png');
  width: 100px;
  height: 24px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .mylogo {
    background-image: url('assets/logo@2x.png');
    background-size: 100px 24px;
  }
}
