body{
  background-color: #0C1A1A;
}
.h1-style{
  color: white !important;
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  line-height: 96px;
}
.p-style{
  color:white;
  font-family: 'Epilogue', sans-serif;
  line-height: 32px;
}
